/* About Creator Section */
.about-creator-section {
  padding: 5rem 2rem;
  background: linear-gradient(to right, #43cea2, #185a9d);
  color: #f0f0f0;
  text-align: center;
}

/* Creator Image */
.creator-image {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #fff;
}

/* Headings */
h1,
h3 {
  font-weight: bold;
}

/* Text Styling */
.lead {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

/* Social Links */
.social-links {
  margin-top: 20px;
}

.social-links a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.2);
  color: #e94560;
}

/* Contact Form Styling */
.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto 0;
  background-color: #2a2a2a;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

/* Contact Form Inputs */
.contact-input,
.contact-textarea {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.4s, border-color 0.3s;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

/* Focus Effect */
.contact-input:focus,
.contact-textarea:focus {
  background-color: #444;
  border-color: #e94560;
  outline: none;
  box-shadow: 0 0 10px rgba(233, 69, 96, 0.8);
}

/* Contact Form Submit Button */
.contact-submit-btn {
  background-color: #e94560;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.4s;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.contact-submit-btn:hover {
  background-color: #f57c85;
  transform: translateY(-3px);
}

/* Contact Form Hover Effects */
.contact-input:hover,
.contact-textarea:hover {
  transform: scale(1.02);
  background-color: #444;
  border-color: #f57c85;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-heading {
    font-size: 2.2rem;
  }

  .contact-input,
  .contact-textarea {
    font-size: 1rem;
    padding: 1rem;
  }

  .contact-submit-btn {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .contact-heading {
    font-size: 1.8rem;
  }

  .contact-input,
  .contact-textarea {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .contact-submit-btn {
    font-size: 0.9rem;
    padding: 0.7rem 1.2rem;
  }
}
